.git
.ipynb_checkpoints
notebooks
unused
Dockerfile
docker-compose.yml
.DS_Store
.gitignore
README.md
env.*
devops
sample.env
.env
nginx
db

# To prevent storing dev/temporary container data
*.csv
tmp